<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Hello, there!</h1>
                <p class="lead">This is a protected dashboard.</p>
                <hr class="my-4">
                <p>Use <b>ensureAuthenticated</b> in router 
                to protect the pages from unauthorized use.</p>
            </div>
        </div>
    </div>
</div>