  <nav>
            <div class="nav-wrapper">
            <a href="#" class="brand-logo bar">carSwap</a>
            <ul id="navBar" class="right hide-on-med-and-down">
                <li><a href="index.html">Link to home</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
    </nav>

    <!--Title-->
	<div class="container">
        <h1>car swap</h1>
        <h3>drive a mile (or 2,000) in someone else's car </h3>
    </div>

    <div class="container">
        <div class="row">
            <!--Card One Leads to Questionnaire-->
            <div class="col s6 m7" id="card1">
                <div class="card">
                    <div class="card-image" class="card-action">
                        <a href="insertquestionroute"><img src="./assets/img/jaguar.jpg"></a>
                    </div> 
                    <div class="card-content">
                        <p class="center-align">find the <i><b>perfect</b></i> rental car</p>   
                 
                    </div>
                </div>   
            </div>

            <!--Card Two Leads user to register their own car for rent-->
            <div class="col s6 m7" id="card2">
                <div class="card">
                    <div class="card-image" class="card-action">
                        <a href="#"><img src="./assets/img/mclaren-senna.jpg"></a>
                    </div> 
                    <div class="card-content">
                        <p class="center-align">list your car</p>
                
                    </div>
                </div>
            </div>
         </div>
    </div>

    <!--Footer-->
    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
        
    </footer>