<div class="container mt-5">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>User Login</h2>
                <p>Please enter your email and password</p>
            </div>
            <form id="Login" action="/user/login" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email">
                    <label for="email" class="bmd-label-floating">E-mail Address</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password">
                    <label for="password" class="bmd-label-floating">Password</label>
                </div>{{!--
                <div class="forgot">
                    <a href="reset.html">Forgot password?</a>
                </div>--}}
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</div>