  <!--Nav Bar-->
    <nav>
        <div class="nav-wrapper center-align z-depth-5">
            <ul id="navBar" class="right hide-on-med-and-down">
                <li><a href="index.html">Link to home</a></li>
                <li><a href="">Link</a></li>
                <li><a href="">Link</a></li>
            </ul>
        </div>
    </nav>

    
    <!--Contact Info Field-->
	<div class="container">
        <h1>Luxury Car Rental</h1>
            <div class="row">
                <form class="col s12">
                    <div class="row" id="firstName">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">First Name</label>
                        </div>

                        <div class="input-field col s6" id="lastName">
                            <i class="material-icons prefix">account_circle</i>
                            <input id="icon_prefix" type="text" class="validate">
                            <label for="icon_prefix">Last Name</label>
                        </div>
                    </div>

                    <div class="row" id="phone">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">phone</i>
                            <input id="icon_telephone" type="tel" class="validate">
                            <label for="icon_telephone">Phone</label>
                        </div>  

                        <div class="input-field col s6" id="email">
                            <i class="material-icons prefix">email</i>
                            <input id="icon_email" type="email" class="validate">
                            <label for="icon_email">Email</label>
                        </div>  
                    </div>
                </form>
            </div>
        </div>

    <!--Parallax # 1-->
    <div class="parallax-container">
        <div class="parallax">
            <img src="./assets/img/parallax2.jpg" alt="" class="responsive-img">
        </div>
    </div>
    
    <!--Questionnaire-->
    <div class="container box blue-grey lighten-5 z-depth-5">   
        <div class="row" id="questionnaire">   
            <!--Question #1-->
            <form class="col s12" action="#">
                <h5>A car is meant to get you from point A to point B. But it doesn’t hurt to have a little extra…</h5>
                <div class="row" id="q1">
                    <p>
                        <label>
                            <input class="with-gap" name="group1" type="radio"  />
                            <span value="1">Speed</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="group1" type="radio"  />
                            <span value="2">Flair</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="group1" type="radio"  />
                            <span value="3">Comfort</span>
                        </label>
                    </p>                       

                    <p>
                        <label>
                            <input class="with-gap" name="group1" type="radio"  />
                            <span value="4">Detail</span>
                        </label>
                    </p>
                </div>
            </form>

            <!--Question #2-->
            <form class="col s12" action="#"  id="q2">
                <h5>Where do you prefer to enjoy a ride?</h5>
                <div class="row">
                    <p>
                        <label>
                            <input class="with-gap" name="group2" type="radio"  />
                            <span value="1">Countryside! I need open spaces to speed</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="group2" type="radio"  />
                            <span value="2">City! I love people checking out my sweet ride!</span>
                        </label>
                    </p>
                </div>
            </form>
            
            
            
            
            <!--Back & Next Buttons-->
            <button class="btn waves-effect waves-light black" id="btn-back" type="back" name="action">Back
                <i class="material-icons left">navigate_before</i>
            </button>

            <button class="btn waves-effect waves-light black" id="btn-next" type="next" name="action">Next
                <i class="material-icons right">navigate_next</i>
            </button>
        </div>
    </div> 



    <!--Footer-->
    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright Text
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
        
    </footer>
 



        <!-- jQuery CDN-->
        <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
        <!-- Compiled and minified JavaScript-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script>
            //Parallax Car Image Function
            $(document).ready(function(){
                $('.parallax').parallax();
            });

            //Back & Next Questionnaire Button Function
            $(document).ready(function(){
                $("#questionnaire form").each(function(e) {
                    if (e != 0)
                        $(this).hide();
                });

                $("#btn-next").click(function(){
                    if ($("#questionnaire form:visible").next().length != 0)
                        $("#questionnaire form:visible").next().show().prev().hide();
                    else {
                        $("#questionnaire form:visible").hide();
                        $("#questionnaire form:first").show();
                    }
                    return false;
                });

                $("#btn-back").click(function(){
                    if ($("#questionnaire form:visible").prev().length != 0)
                        $("#questionnaire form:visible").prev().show().next().hide();
                    else {
                        $("#questionnaire form:visible").hide();
                        $("#questionnaire form:last").show();
                    }
                    return false;
                });
            });
        </script>